<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vixor - ролики на заказ [demo]</title>
    <link rel="stylesheet" href="src/css/styles.css">
</head>
<body>

<header>
    <div class="logoandwatermark">
        <img src="src/images/logo.png" alt="Vixor">
        <div class="watermark">- made by <a href="https://github.com/Revellison">Revellison</a></div>
    </div>    
    <nav>
        <a href="#price">Цены</a>
        <a href="#contacts">Контакты</a>
        <a href="#aboutme">Обо мне</a>
        <a href="#portfolio">Портфолио</a>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        
        <div class="hero-left">
            <img src="src/images/profile.png" alt="Профиль">
            <p>Делаю ролики, которые делают прибыль.</p>
            <button class="buy_button">Заказать ролик</button>
            <img src="src/images/tags.png" alt="">
        </div>
        
        <div class="hero-right">
            <img src="src/images/video.gif" alt="gif">
        </div>
    
    </div>
</section>
<footer>
    <p>© 2025 Made by <a href="https://github.com/Revellison">Revellison</a>. Все права защищены.</p>
</footer>
    <script src="src/js/script.js"></script>
</body>
</html>