<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vixor - ролики на заказ [demo]</title>
    <link rel="stylesheet" href="src/css/styles.css">
</head>
<body>

<header>
    <div class="logoandwatermark">
        <p class="logo">Vixor</p>
    </div>    
    <nav>
        <div class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-links">
            <a href="#portfolio">Портфолио</a>
            <a href="#price">Цены</a>
            <a href="#contacts">Контакты</a>
        </div>
    </nav>
</header>

<section class="hero">
    <div class="hero-content">
        
        <div class="hero-left">
            <img class ="profile" src="src/images/profile.png" alt="Профиль">
            <p class="hero-text">Делаю <a style="color: #2D4BA6;">ролики</a>, которые делают <a style="color: #2D4BA6;">прибыль</a>.</p>
            <button class="buy-button">Заказать ролик</button>
            <img class="tags" src="src/images/tags.svg" alt="Теги">
        </div>
        
        <div class="hero-right">
            <img class="gif" src="src/images/video.gif" alt="gif">
        </div>
    
    </div>
</section>

<div class="price">
    <div class="price-content">
        <div class="price-standard">
            <img class="price-standard-image" src="src/images/standard.svg" alt="Стандарт">
            <div class="price-standard-text">
                <button class="price-standard-button">Выбрать</button>
            </div>
        </div>
        <div class="price-business">
            <img class="price-business-image" src="src/images/business.svg" alt="Бизнес">
            <div class="price-business-text">
                <button class="price-business-button">Выбрать</button>
            </div>
        </div>
        <div class="price-premium">
            <img class="price-premium-image" src="src/images/premium.svg" alt="Премиум">
            <div class="price-premium-text">
                <button class="price-premium-button">Выбрать</button>
            </div>
        </div>
        
    </div>
</div>
<footer>
    <p>© 2025 Made by <a href="https://github.com/Revellison">Revellison</a>. Все права защищены.</p>
</footer>
    <script src="src/js/script.js"></script>
</body>
</html>